#alphabet-container{
  font-size:32px;
}

#alphabet-container .letter{
  color:blue;
}

.invalid {
  color:red !important;
}

.correct{
  color:green !important;
}

button{
  border-radius: 0 !important;
  width: 227px;
  margin-top:2px;
}

